<div id="cube" class="cube">
  <div class="innercube">
    <div class="adminpanelcontainer" >
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="adminpanelcontainer nav-link" id="profile-tab" data-toggle="tab" href="#menu1" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
              <a class="adminpanelcontainer nav-link" id="contact-tab" data-toggle="tab" href="#menu2" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
          </ul>
          
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
              </div>
            <div id="menu1" class="tab-pane fade">
              <h3>Menu 1</h3>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <table id="usersTable" class="table table-striped">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Password</th>
                      <th scope="col">Account Type</th>
                      <td></td><td></td>
                    </tr>
                </table>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Menu 2</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              <table id="usersTable" class="table table-striped">
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Password</th>
                <th scope="col">Account Type</th>
                <td></td><td></td>
              </tr>
          </table>
              </div>
            <div id="menu3" class="tab-pane fade">
              <h3>Menu 3</h3>
              <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <table id="usersTable" class="table table-striped">
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Password</th>
                <th scope="col">Account Type</th>
                <td></td><td></td>
              </tr>
                </table>
            </div>
          </div>
    </div>
  </div>
</div>