 <div id="users" class="cube">
      <h3>Users</h3>
     
       <div id="operation"></div>
      <table id="usersTable" class="table table-striped">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>Account Type</th>
              <th>Last Login</th>
              <th>Account Status</th>
             

            </tr>
          </thead>
          <tbody>

  

           <tr><td></td><td></td><td></td><td></td><td></td>
              <td>
                <button style="color:white;background-color:#d65151;" type="button" onclick="suspendUsers();" class="btn btn-secondary btn-sm">Suspend Selected</button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="activateUsers();" class="btn btn-secondary btn-sm">Activate Selected</button>
              </td>
            </tr>
           
          </tbody>
      </table>
     

</div>