<!-- views/footer.ejs -->
<div id="page-container">
<div class="mainfooter">
  <div class="innerfooter">
    <span>
      <ul class="nav justify-content-center">
        <li><a href="#home">home</a></li>
        <li><a href="#home">|</a></li>
        <li><a href="#news">how to play</a></li>
        <li><a href="#home">|</a></li>
        <li><a href="#contact">register</a></li>
        <li><a href="#home">|</a></li>
        <li><a href="#about">login</a></li>
        <li><a href="#home">|</a></li>
        <li><a href="#about">contact</a></li>
        <li><a href="#home">|</a></li>
        <li><a href="#about">terms</a></li>
        <li><a href="#home">|</a></li>
        <li><a href="#about">privacy</a></li>
      </ul>
    </span>
  </div>
</div>
<div class="copyright">
  © 2019  Copyright:  CSC 667 Hold Em Poker
</div>
</div>
