<!-- views/head.ejs -->
<meta charset="UTF-8">
<title>csc 667 Hold em poker</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/bootstrap/bootstrap.min.js"></script>
<script src="./js/services.js"></script>
<script src="./js/user.js"></script>
<script src="./js/adminpanel.js"></script>
<script src="./js/lobby.js"></script>
<script src="./js/game.js"></script>

<script src="./js/chatHandler.js"></script>

<script src="./js/gameboard.js"></script>
<script src="./js/cards.js"></script>



<link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="./css/mainpage.css">
<link rel="stylesheet" type="text/css" href="./css/loginform.css">
<link rel="stylesheet" type="text/css" href="./css/registerform.css">
<link rel="stylesheet" type="text/css" href="./css/adminpanelcontainer.css">
<link rel="stylesheet" type="text/css" href="./css/userprofile.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="./css/game.css">
<script>
$( document ).ajaxComplete(function() {
 reseizeOpaqueDiv(null,null);
});
</script>