<!-- views/head.ejs -->
<meta charset="UTF-8">
<title>csc 667 Hold em poker</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="./js/bootstrap/bootstrap.min.js"></script>
<script src="./js/services.js"></script>
<script src="./js/user.js"></script>
<script src="./js/adminpanel.js"></script>
<script src="./js/lobby.js"></script>
<script src="./js/game.js"></script>

<script src="./js/chatHandler.js"></script>
<script src="./js/gameHandler.js"></script>
<script src="/socket.io/socket.io.js"></script>

<link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="./css/mainpage.css">
<link rel="stylesheet" type="text/css" href="./css/loginform.css">
<link rel="stylesheet" type="text/css" href="./css/registerform.css">
<link rel="stylesheet" type="text/css" href="./css/adminpanelcontainer.css">
<script>
$( document ).ajaxComplete(function() {
 reseizeOpaqueDiv(null,null);
});
</script>