<!-- views/head.ejs -->
<meta charset="UTF-8">
<title>csc 667 Hold em poker</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/bootstrap/bootstrap.min.js"></script>
<script src="./js/services.js"></script>
<script src="./js/user.js"></script>
<link rel="stylesheet" type="text/css" href="./css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="./css/mainpage.css">
<link rel="stylesheet" type="text/css" href="./css/loginform.css">
<link rel="stylesheet" type="text/css" href="./css/registerform.css">
<link rel="stylesheet" type="text/css" href="./css/adminpanelcontainer.css">