<!-- views/header.ejs -->

<div class="navBarHolder">
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/index','','cube');" >
        home
    </button>
     <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/about','','cube');" >
        About
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/howtoplay','','cube');" >
        How to play
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/register','','cube');" >
        Register
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/login','','cube');" >
        login
    </button>
    <button type = "button" class="btn btn-dark btn-xs "  >
        Lobby
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','','','');" >
        Profile
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/adminpanel','','cube');" >
        Admin
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','','','');" >
        Log out
    </button>
</div>