<!-- views/header.ejs -->

<div class="navBarHolder">
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/index','','updatableMiddleContainer');" >
        home
    </button>
     <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/about','','updatableMiddleContainer');" >
        About
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/howtoplay','','updatableMiddleContainer');" >
        How to play
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/register','','updatableMiddleContainer');" >
        Register
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/login','','updatableMiddleContainer');" >
        login
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/lobby','','updatableMiddleContainer');" >
        Lobby
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','','','');" >
        Profile
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','/adminpanel','','updatableMiddleContainer');" >
        Admin
    </button>
    <button type = "button" class="btn btn-dark btn-xs " onclick="gotoMenu('get','','','');" >
        Log out
    </button>
</div>