<!-- views/header.ejs -->


<div id="barholder" class="navBarHolder">
    <button type="button" class="btn btn-dark btn-xs "
        onclick="gotoMenu('get','/index','','updatableMiddleContainer');">
        home
    </button>
    <button type="button" class="btn btn-dark btn-xs "
        onclick="gotoMenu('get','/about','','updatableMiddleContainer');">
        About
    </button>
    <button type="button" class="btn btn-dark btn-xs "
        onclick="gotoMenu('get','/howtoplay','','updatableMiddleContainer');">
        How to play
    </button>
    <% if ( (typeof authanticate === 'undefined') || authanticate == "false" ) { %>
        <button type="button" class="btn btn-dark btn-xs "
            onclick="gotoMenu('post','/header','','updatableMiddleContainer');">
            Register
        </button>
    <%}%>

    <button type="button" class="btn btn-dark btn-xs "
        onclick="gotoMenu('get','/lobby','','updatableMiddleContainer');">
        Lobby
    </button>
    <% if ( (typeof authanticate !== 'undefined') && authanticate == "true" ) { %>
    <button type="button" class="btn btn-dark btn-xs "
        onclick="gotoMenu('get','/userprofile','','updatableMiddleContainer');">
        Profile
    </button>
    <%}%>
    <button type="button" class="btn btn-dark btn-xs "
        onclick="gotoMenu('get','/adminpanel','','updatableMiddleContainer');">
        Admin
    </button>
    <% if ( (typeof authanticate === 'undefined') || authanticate == "false" ) { %>
    <button type="button" class="btn btn-dark btn-xs "
        onclick="gotoMenu('get','/login','','updatableMiddleContainer');">
        login
    </button>
    <%}%>
    <% if ( (typeof authanticate !== 'undefined') && authanticate == "true" ) { %>
    <button type="button" class="btn btn-dark btn-xs "
        onclick="gotoMenu('post','/logout','','updatableMiddleContainer');">
        Log out
    </button>
    <%}%>
</div>