<!-- views/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/bootstrap/bootstrap.min.js"></script>
<script src="./js/services.js"></script>
<script src="./js/user.js"></script>
<link rel="stylesheet"  type="text/css"  href="./css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"  type="text/css"  href="./css/mainpage.css">
<link rel="stylesheet"  type="text/css"  href="./css/loginform.css">
<link rel="stylesheet"  type="text/css"  href="./css/registerform.css">


<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>