<div id="cube" class="cube">
	<div class="innercube"  id="innercube">
		<% if ( (typeof authanticate !== 'undefined') && authanticate == "true" ) { %>
		<% if (authuser.picture == 0  ) { %>
		<img src="images/userimages/person.png" style="width:50px;height:50px"><br>
		<%}else{%>
		<img src="images/userimages/<%= authuser.userid %>.<%= authuser.filetype %>" style="width:50px;height:50px"><br>
		<%}%>
		<span>logged user : <%= authuser.username %><span>
			<%}%>
				<br><br>
				<h1>Register or Login to start playing.</h1>
				<br><br><br>
				<h2>Current Project Progress:</h2>
				Main: Updating Progress
				<br>
				About: Need to format and add in information
				<br>
				How To Play: Update on details?
				<br>
				Register/Login: completed front-end (maybe format to be similar), working on back-end
				<br>
				Lobby: Implement data and reformat (both front-end and back-end)
				<br>
				Profile: completed front-end, working on back-end
				<br>
				Admin: working on game table (front-end and back-end), + users and admins completed front-end
				<br>
				Logout: need action

	</div><!-- By default this div is injected-->
</div>