<div id="cube" class="cube">
	<div class="innercube" id="innercube">

		<% if ( (typeof authanticate !== 'undefined') && authanticate =="true" ) { %>
			<% if (authuser.picture === 0  ) { %>
				<img src="images/userimages/person.png" style="width:120px;height:120px"><br>
			<%}else{%>
				<img src="images/userimages/<%= authuser.userid %>.<%= authuser.filetype %>"
					 style=" width:120px;height:120px"><br>
			<%}%>
		<span>logged user : <%= authuser.username %> <span>
				<%}%>

				<div class="container">
            <div class="jumbotron" style="background-color: black; color: white; padding: 50px 50px 50px 50px; border-radius: 25px;">
             <h1>Welcome to CSC 667</h1>
              <p></p>
            </div>
          </div>

          <div class="card col-12" style="background-color: #708090; color: white; padding: 50px 50px 50px 50px; border: 2px solid; margin: 10px; border-radius: 35px;">
            <h2>The Origin of NA</h2>
            <h5>North America</h5>
              <%# <div class="fakeimg" style="height:200px;">Image</div> %>
              <img src="images/userimages/person.png" style="width:150px; height:150px;">
            <div class="content">
              <p> "Sodium, atomic number 11, was first isolated by Humphry Davy in 1807. A chemical component of salt, he named it Na in honor of the saltiest region on earth, North America."</p>
            </div>
          </div>
          <div class="card col-12" style="background-color: #708090; color: white; padding: 50px 50px 50px 50px; border: 2px solid; margin: 10px; border-radius: 50px;">
            <h2>The Sun</h2>
            <h5>Twitch and the sun</h5>
              <%# <div class="fakeimg" style="height:200px;">Image</div> %>
              <img src="images/userimages/person.png" style="width:150px; height:150px;">
            <div class="content">
              <p>" I sexually Identify as an the sun. Ever since I was a boy I dreamed of slamming hydrogen isotopes into each other to make helium & light and send it throught the galaxy. People say to me that a person being a star is Impossible and but I don’t care, I’m beautiful. I’m having a plastic surgeon inflate me with hydrogen and raise my temperature to over 6000 °C. From now on I want you guys to call me “Sol” and respect my right to give you vitamin D and probably sunburns. If you can’t accept me you’re a fusionphobe and need to check your astral privilege. Thank you for being so understanding."</p>
            </div>
          </div>

	</div>
</div><!-- By default this div is injected-->

	</div><!-- By default this div is injected-->
</div>
