<div id="cube" class="cube">

	<div class="innercube"  id="innercube">
		<% if ( (typeof authanticate !== 'undefined') && authanticate == "true" ) { %>
				<% if (authuser.picture == 0  ) { %>
				<img src="images/userimages/person.png" style="width:50px;height:50px"><br>
				<%}else{%>
				<img src="images/userimages/<%= authuser.userid %>.<%= authuser.filetype %>" style="width:50px;height:50px"><br>
				<%}%>

				<span>logged user : <%= authuser.username %> <span>
		<%}%>
		
			

				<div class="container">
            <div class="jumbotron" style="background-color: black; color: white; padding: 50px 50px 50px 50px; border-radius: 25px;">
             <h1>Welcome to CSC 667</h1>
              <p></p>
            </div>
          </div>

          <div class="card col-12" style="background-color: #708090; color: white; padding: 50px 50px 50px 50px; border: 2px solid; margin: 10px; border-radius: 35px;">
            <h2>The Origin of NA</h2>
            <h5>North America</h5>
              <%# <div class="fakeimg" style="height:200px;">Image</div> %>
              <img src="images/userimages/person.png" style="width:150px; height:150px;">
            <div class="content">
              <p> "Sodium, atomic number 11, was first isolated by Humphry Davy in 1807. A chemical component of salt, he named it Na in honor of the saltiest region on earth, North America."</p>
            </div>
          </div>
          <div class="card col-12" style="background-color: #708090; color: white; padding: 50px 50px 50px 50px; border: 2px solid; margin: 10px; border-radius: 50px;">
            <h2>The Sun</h2>
            <h5>Twitch and the sun</h5>
              <%# <div class="fakeimg" style="height:200px;">Image</div> %>
              <img src="images/userimages/person.png" style="width:150px; height:150px;">
            <div class="content">
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus gravida quis blandit turpis cursus in hac habitasse. Sollicitudin ac orci phasellus egestas tellus. Vitae ultricies leo integer malesuada nunc vel risus. Aliquam purus sit amet luctus venenatis lectus magna. Nisl purus in mollis nunc sed. Blandit turpis cursus in hac habitasse platea. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Elit sed vulputate mi sit amet mauris. Quis auctor elit sed vulputate.
		Lectus sit amet est placerat in egestas. Molestie a iaculis at erat pellentesque adipiscing commodo elit. Mauris augue neque gravida in fermentum et sollicitudin. Quisque id diam vel quam elementum pulvinar etiam non. Suscipit tellus mauris a diam maecenas. Risus in hendrerit gravida rutrum quisque non. Senectus et netus et malesuada fames ac turpis egestas maecenas. Interdum posuere lorem ipsum dolor sit. Tortor dignissim convallis aenean et tortor at risus. Adipiscing elit ut aliquam purus sit amet. Facilisis magna etiam tempor orci eu lobortis elementum nibh. In eu mi bibendum neque egestas congue quisque egestas. Lectus quam id leo in vitae turpis massa sed elementum. Quam viverra orci sagittis eu volutpat. Nunc vel risus commodo viverra maecenas accumsan lacus. Scelerisque felis imperdiet proin fermentum leo vel orci.
		Non curabitur gravida arcu ac tortor. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Auctor augue mauris augue neque gravida in. Ornare massa eget egestas purus. Eget mi proin sed libero enim sed faucibus turpis in. Blandit turpis cursus in hac. Euismod elementum nisi quis eleifend quam adipiscing vitae. Diam donec adipiscing tristique risus nec feugiat in. Pellentesque massa placerat duis ultricies. Libero id faucibus nisl tincidunt. Euismod lacinia at quis risus sed vulputate odio. Ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Et molestie ac feugiat sed lectus vestibulum. Vel orci porta non pulvinar neque. Augue interdum velit euismod in. Eu sem integer vitae justo eget magna.
		Magna ac placerat vestibulum lectus. Laoreet suspendisse interdum consectetur libero id. In est ante in nibh mauris cursus. In pellentesque massa placerat duis ultricies lacus sed turpis. Mollis aliquam ut porttitor leo. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Sit amet porttitor eget dolor morbi. Elementum nibh tellus molestie nunc non blandit. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Enim praesent elementum facilisis leo vel fringilla. Congue eu consequat ac felis donec et. Diam maecenas sed enim ut.
		Scelerisque eleifend donec pretium vulputate sapien nec. Quisque egestas diam in arcu cursus euismod quis viverra. Praesent tristique magna sit amet purus gravida quis blandit turpis. Ut venenatis tellus in metus vulputate eu. Duis at consectetur lorem donec massa. Facilisis gravida neque convallis a cras semper auctor neque vitae. Commodo ullamcorper a lacus vestibulum sed. Feugiat in fermentum posuere urna nec tincidunt. Nullam ac tortor vitae purus. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla."</p>
            </div>
          </div>

	</div>
</div><!-- By default this div is injected-->

	</div><!-- By default this div is injected-->
</div>
