<div id="cube" class="cube">
	<div class="innercube" id="innercube">

		<% if ( (typeof authanticate !== 'undefined') && authanticate =="true" ) { %>
			<% if (authuser.picture === 0  ) { %>
				<img src="images/userimages/person.png" style="width:120px;height:120px"><br>
			<%}else{%>
				<img src="images/userimages/<%= authuser.userid %>.<%= authuser.filetype %>"
					 style=" width:120px;height:120px"><br>
			<%}%>
		<span>logged user : <%= authuser.username %> <span>
				<%}%>

				<div class="container">
            <div class="jumbotron" style="background-color: black; color: white; padding: 50px 50px 50px 50px; border-radius: 25px;">
             <h1>Development Aspects/Challenges</h1>
              <p></p>

            </div>
          </div>

          <div class="card col-12" style="background-color: #708090; color: white; padding: 50px 50px 50px 50px; border: 2px solid; margin: 10px; border-radius: 35px;">
            <h2></h2>
            <h5></h5>
              <%# <div class="fakeimg" style="height:200px;">Image</div> %>

            <div class="content">
                  <img src="images/stockimages/development.png" style="width:750px; height:450px;">
              <p><font color = "#000000">I think by far the most interesting development aspect is the card table and settinig up the whole table for four players to play. While using a built-in library called card.js we quickly realized that the library</p>

                <p>was built specifically for client side and that we had to change the library and build off of it so that it would work server-sided since we needed to keep track of all the cards in the player's hands</p>
                <p>Another big development challenge was having everyone use github and managing merges. As we do not know if sometimes other members would work on files that another member has already work on.
                </p>
                <p>This would cause merge conflicts and we had to work together and communicate as well do pull requests so that we know which files are being modified, who is modifying them and how to go out about implementing it into our dev or master.</p>
                </font>
            </div>
          </div>



	</div>
</div><!-- By default this div is injected-->

	</div><!-- By default this div is injected-->
</div>
