<!DOCTYPE html>
<html lang="en" class="mainhtml">

<head>
  <% include ./head %>

</head>

<body class="mainbody" onload="reseizeOpaqueDiv(null,null);" onresize="reseizeOpaqueDiv(null,null);">
  <header id="header">
    <% include ./header %>
    <!-- holds navigation bar -->
  </header>

  <div id="mainholder" class=" mainHolder">
    <div class="middleContainerOpaq" id="middleContainerOpaq"></div>
    <div id="updatableMiddleContainer" class="middleContainer">
      <!-- We use this div to inject any section on clicks-->
      <div id="cube" class="cube">
        <div class="innercube" id="innercube">
<<<<<<< HEAD

=======
>>>>>>> a39a3f7b59c556c1052dff9f582dc698745ae332
            <% if ( (typeof authanticate !== 'undefined') && authanticate =="true" ) { %>
            <% if (authuser.picture === 0  ) { %>
            <img src="images/userimages/person.png" style="width:50px;height:50px"><br>
            <%}else{%>
            <img src="images/userimages/<%= authuser.userid %>.<%= authuser.filetype %>" "
              style=" width:50px;height:50px"><br>
            <%}%>
            <span>logged user : <%= authuser.username %> <span>
              <%}%>
          <br><br>
          <h1>Register or Login to start playing.</h1>
          <br><br><br>
          <h2>Current Project Progress:</h2>
          Main: Updating Progress
          <br>
          About: Need to format and add in information
          <br>
          How To Play: Update on details?
          <br>
          Register/Login: completed front-end (maybe format to be similar), working on back-end
          <br>
          Lobby: Implement data and reformat (both front-end and back-end)
          <br>
          Profile: completed front-end, working on back-end
          <br>
          Admin: working on game table (front-end and back-end), + users and admins completed front-end
          <br>
          Logout: need action

                </div>
      </div><!-- By default this div is injected-->
    </div>

    <footer>
      <% include ./footer %>
            </footer>

</body>

</html>
            <!-- Modal -->
            <div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindow"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div style="float:left;">
                      <i id="modalLogo" class="material-icons" style="font-size:90px;color:red;">report_problem</i>
                    </div>
                    <div id="modalMessage" style="float:right;text-align: center;">
                      info window
                    </div>


                  </div>
                  <div class="modal-footer">


                  </div>
                </div>
              </div>
            </div>