<!DOCTYPE html>
<html lang="en" class="mainhtml">

<head>
  <% include ./head %>
</head>

<body class="mainbody" onload="reseizeOpaqueDiv(null,null);" onresize="reseizeOpaqueDiv(null,null);">
  <header id="header">
    <% include ./header %>
    <!-- holds navigation bar -->
  </header>

  <div id="mainholder" class=" mainHolder">
    
    <div id="updatableMiddleContainer" class="middleContainer">
      <!-- We use this div to inject any section on clicks-->
      <div id="cube" class="cube">
        <div class="innercube" id="innercube">

          <% if ( (typeof authanticate !== 'undefined') && authanticate =="true" ) { %>
            <% if (authuser.picture === 0  ) { %>
              <img src="images/userimages/person.png" style="width:120px;height:120px"><br>
            <%}else{%>
            <img src="images/userimages/<%= authuser.userid %>.<%= authuser.filetype %>"
              style=" width:120px;height:120px"><br>
            <%}%>
            <span>logged user : <%= authuser.username %> <span>
          <%}%>

          <div class="container">
            <div class="jumbotron" style="background-color: black; color: white; padding: 50px 50px 50px 50px; border-radius: 25px;">
              <h1>Welcome to Team 6's Poker Game</h1>
              <p></p>
            </div>
          </div>

          <div class="card col-12" style="background-color: #708090; color: white; padding: 50px 50px 50px 50px; border: 2px solid; margin: 10px; border-radius: 35px;">
            <h2></h2>
            <h5></h5>
            <%# <div class="fakeimg" style="height:200px;">Image</div> %>

            <div class="content">
               <img src="images/stockimages/HelloWorld.png" style="width:550px; height:350px;">
              <p><font color = "#000000">Welcome to Team 6's Texas Hold em Game.Use the above bars to navigate around the web page.</p>
              <p>To learn more about us and our development process please navigate to the home and about pages</p>
              <p>Otherwise just register now and begin to play the game<p>
              </font>
            </div>
          </div>

        </div>
      </div><!-- By default this div is injected-->
    </div>

  <footer>
    <% include ./footer %>
  </footer>

  </body>
</html>

<!-- Modal -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindow"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="float:left;">
          <i id="modalLogo" class="material-icons" style="font-size:90px;color:red;">report_problem</i>
        </div>
        <div id="modalMessage" style="float:right;text-align: center;">
          info window
        </div>


      </div>
      <div class="modal-footer">


      </div>
    </div>
  </div>
</div>