<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body {
 background-image: url("./images/5.jpg");

  width: 100%;
    height: 100%;
  margin:0 auto;
   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font:white;

}

html {
      width: 100%;
    height: 100%;
}
.navBarHolder{
    
    width: 80%;
    height: 2%;
    color:white;
   
    margin-right: 10%;
    margin-left: 10%;
    color: white;
}
.middleContainerOpaq{
    width: 80%;
    height: 80%;
    background-color:#4d4d33;
     opacity:0.70;
    position: absolute;
    z-index:-10;
    
    
     
       
     
}
.middleContainer{
    width: 100%;
    height: 100%;
    
    
   
     
     postion: absolute;
    opacity:1.0;
     z-index:10;
     
       
}
.mainHolder{
    
    width: 80%;
    height: 80%;
    color:white;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
}
.mainfooter{
    width: 80%;
    height: 8%;
    color:white;
  
    margin-right: 10%;
    margin-left: 10%;
    color: white;
    background-color:#6e6953;
    
    position:relative;
}
.copyright{
     width: 80%;
    height: 40px;
    color:white;
    padding-top:5px;
    margin-right: 10%;
    margin-left: 10%;
    color: #807e69;
    background-color:#595544;
     text-align: center;
    position:relative;
}


.cube{
         background-color:black;
        color: white;
       position: relative;
         top: 10%;
         left:10%;
         width : 70%;
         height:80%;
border-radius: 10px;
  background: #565648;
 
   box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);     
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}
.mainfooter li a {
  display: block;
  color: black;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

li a:hover {
 color:gray;
}

        


    </style>
    <link rel="stylesheet"  type="text/css"  href="./css/bootstrap/bootstrap.css">
    <script src=./js/bootstrap/bootstrap.min.js"></script>
     <script src="./js/services.js"></script>
     <script src="./js/user.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <div id="about" class="cube">
        <h3>Example header: About</h3>
    </div>
</head>
<body   >


 <div class="mainfooter">
        <ul>
          <li><a href="#home">home</a></li>
           <li><a href="#home">|</a></li>
          <li><a href="#news">how to play</a></li>
           <li><a href="#home">|</a></li>
          <li><a href="#contact">register</a></li>
           <li><a href="#home">|</a></li>
          <li><a href="#about">login</a></li>
           <li><a href="#home">|</a></li>
          <li><a href="#about">contact</a></li>
          <li><a href="#home">|</a></li>
          <li><a href="#about">terms</a></li>
          <li><a href="#home">|</a></li>
          <li><a href="#about">privacy</a></li>
        </ul>





 </div>
  <div class="copyright">
    © 2019  Copyright:  CSC 667 Hold Em Poker

 </div>
</body>
</html>