<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Poker Game</h1>
        <p></p>
    </div>

    <div class = "steps">
    <h1>Step 1</h1>
    <p>This is how you play step 1<p>
  
    <h1>Step 2</h1>
    <p>this is how you play step 2<p>
  
    <h1>Step 3</h1>
    <p>this is how you play step 3<p>
  
    <h1>Step 4</h1>
    <p>this is how you play step 4<p>
  
  </div>

</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>