<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body {
 background-image: url("./images/5.jpg");

  width: 100%;
    height: 100%;
  margin:0 auto;
   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font:white;

}

html {
      width: 100%;
    height: 100%;
}
.middleContainerOpaq{
    width: 80%;
    height: 80%;
    background-color:#4d4d33;
     opacity:0.70;
    position: absolute;
    z-index:-10;
    
    
     
       
     
}
.middleContainer{
    width: 100%;
    height: 100%;
    
    
   
     
     postion: absolute;
    opacity:1.0;
     z-index:10;
     
       
}
.mainHolder{
    
    width: 80%;
    height: 80%;
    color:white;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
}

.cube{
         background-color:black;
        color: white;
       position: relative;
         top: 10%;
         left:10%;
         width : 20%;
         height:40%;

}
    </style>
    <link rel="stylesheet"  type="text/css"  href="./css/bootstrap/bootstrap.css">
    <script src=./js/bootstrap/bootstrap.min.js"></script>
</head>
<body   >
<nav class="navbar navbar-expand-lg " style="background-color: #4d4d33;">
  
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
        <a class="nav-link" style="color:white;" href="#">home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color:white;" href="#">how to play <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white;" href="#">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Register</a>
      </li>
    </ul>
   
  </div>

 
</nav>
 <div class="mainHolder" >
  
          <div class="middleContainerOpaq"></div>
          
          <div class="middleContainer">
                <div class="cube">cav asasas asasdadasds asadsdads</div>
          </div>
   
   
   
    
 </div>
</body>
</html>