.gameTableR{
    
    width : 800px;
    height : 800px;
    background-image: url("../images/table/table31.png");
    background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	position: relative;
  	z-index: 5;
}
.gameTableUser1{
	cursor: pointer;
	
	width: 150px;
	height : 150px;
	position: absolute;
 	
	z-index: 50;
	float: left;
	
	left:90px;
	top:150px;
}
.gameTableUser2{
	cursor: pointer;
	
	width: 150px;
	height : 150px;
	position: absolute;
	
	z-index: 51;
	
	left:560px;
	top:150px;
}
.gameTableUser3{
	cursor: pointer;
	
	width: 150px;
	height : 150px;
	position: absolute;
	
	z-index: 52;
	float: left;
	
	left:570px;
	top:420px;
}
.gameTableUser4{
	cursor: pointer;
	
	width: 150px;
	height : 150px;
	position: absolute;
	
	z-index: 53;
	float: left;
	
	left:80px;
	top:420px;
}

.gameTableUserCard1{
	cursor: pointer;
	width: 120px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;
	
	left:250px;
	top:300px;

}
.gameTableUserCard2{
	cursor: pointer;
	
	width: 120px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;

	left:480px;
	top:300px;

}
.gameTableUserCard3{
	cursor: pointer;
	
	width: 120px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;
	
	left:450px;
	top:425px;

}
.gameTableUserCard4{
	cursor: pointer;
	
	width: 120px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;
	
	left:250px;
	top:425px;


}
.housecards{
	cursor: pointer;
	
	width: 120px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;
	
	left:350px;
	top:260px;


}
.usertimer1{
		background: black;
	width: 150px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;
	left:100px;
	top:100px;
}
.usertimer2{
		background: black;
	width: 150px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;
	
	left:550px;
	top:100px;
}
.usertimer3{
		background: black;
	width: 150px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;
	
	left:550px;
	top:600px;
}
.usertimer4{
	background: black;
	width: 150px;
	height : 50px;
	position: absolute;
 	
	z-index: 54;
	float: left;
	
	left:100px;
	top:600px;
}

.acbtns1{
	position: absolute;
	top:0px;
	width: 100px;
	float:left;
	text-align: left;
	left:150px;
	
}

.acbtns2{
	
	position: absolute;
	top:0px;
	width: 100px;
	float:right;
	text-align: right;
	left:-90px;
	
}

.acbtns3{
	
	position: absolute;
	top:50px;
	width: 100px;
	float:right;
	text-align: right;
	left:-90px;
	
}
.acbtns4{
	
	position: absolute;
	top:50px;
	width: 100px;
	float:left;
	text-align: left;
	left:140px;
	
}
.userleave1{
	position: absolute;
	top:0px;
	width: 100px;
	float:left;
	text-align: left;
	left:150px;
}
.noseat1{
	position: absolute;
	top:70px;
	width: 100px;
	
	
	left:30px;
}

.noseat2{
	position: absolute;
	top:70px;
	width: 100px;
	
	
	left:30px;
}

.noseat3{
	position: absolute;
	top:70px;
	width: 100px;
	
	
	left:0px;
}

.noseat4{
	position: absolute;
	top:70px;
	width: 100px;
	
	
	left:40px;
}