.gameTableR{
    
    width : 800px;
    height : 800px;
    background-image: url("../images/table/table31.png");
    background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	position: relative;
  	z-index: 5;
}
.gameTableUser1{
	cursor: pointer;
	background: red;
	width: 150px;
	height : 150px;
	position: absolute;
 	
	z-index: 50;
	float: left;
	
	left:100px;
	top:150px;
}
.gameTableUser2{
	cursor: pointer;
	background: blue;
	width: 150px;
	height : 150px;
	position: absolute;
	
	z-index: 51;
	
	left:550px;
	top:150px;
}
.gameTableUser3{
	cursor: pointer;
	background: gray;
	width: 150px;
	height : 150px;
	position: absolute;
	
	z-index: 52;
	float: left;
	
	left:550px;
	top:450px;
}
.gameTableUser4{
	cursor: pointer;
	background: magenta;
	width: 150px;
	height : 150px;
	position: absolute;
	
	z-index: 53;
	float: left;
	
	left:100px;
	top:450px;
}