
.mainbody {
  
  background-image: url("../images/background/30.jpg");
  width: 100%;
  height: calc(100% - 40px);
  margin:0 auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  font:white;
  background-color: black;

}

.mainhtml {
  text-align: center;
  margin:0 auto;
  width: 100%;
  height: 100%;


}

.navBarHolder{
 
  width: 80%;
  height: 40px;
  margin-right: 10%;
  margin-left: 10%;

}

.middleContainerOpaq{

  width: 80%;
  height:500px;
  background-color:#465362;
  opacity:0.70;
  position: absolute;
  z-index:-10;
  
}

.middleContainer{

  text-align: center;
  display:block;
  border-spacing: 50px;
  width: 100%;
  min-height:500px;
  position: relative;
  opacity:1.0;
  z-index:10;
  left:auto;



}

.mainHolder{

  display:table;
  width: 80%;
  min-height:500px;
  margin-right:auto;
  margin-left:auto;
  overflow: show;
 
  
}

.mainfooter{
    
  width: 100%;
  height: 50px;
  background-color:#9B9FB5;
  position:relative;
  
}

.innerfooter{

  text-align: center;
  width: 100%;

}

.copyright{

  width: 100%;
  height: 40px;
  color:white;
  padding-top:5px;
  color: white;
  background-color:#465362;
  text-align: center;
  position:relative;

}

.cube{

  background-color:blue;
  color: black;
  position: relative;
  width : 100%;
  min-height:500px;
  overflow: auto;
  border-radius: 10px;
  background: silver;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);     
  display: table-row;
  margin-left: auto;
  margin-right: auto;
  

}

.mainfooter ul {

  list-style-type: none;
  padding: 0;
  overflow: hidden;
  text-align: center;
 
}

.mainfooter li {

  float: left;

}

.mainfooter li a {

  display: block;
  color: black;
  padding: 24px;
  text-decoration: none;
  
}

.mainfooter li a:hover {

  color:blue;

}

.innercube {
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
  min-height:500px;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;

}

.innercubeside {
  margin-left: auto;
  margin-right: auto;
  min-width: 390px;
  min-height:500px;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}