<div id="cube" class="cube">
    <div class="innercube" id="innercube">
        <h4>Change Your Password Form</h4>
        <form>
            <input type="password" id="registerpassword" class="fadeIn second" placeholder="Password">
            <input type="password" id="registerrepassword" class="fadeIn second" placeholder="Re-enter Password">
            <input type="button" class="fadeIn fourth" onclick="changepassword();" value="Submit">
        </form>
    </div>
</div>
