
    <div id="loginForm" class="wrapper fadeInDown">
        
        <div id="formContent">
        <div class="close" onclick="cleanInsideDiv('updatableMiddleContainer');"> </div>
            <!-- Tabs Titles -->

            <div class="formHeader" >
             
            </div>
            <!-- Icon -->
            <div class="fadeIn first loginlogo">
                <img src="https://image.flaticon.com/icons/svg/1562/1562450.svg" id="icon" alt="" width="50" height="50"/>
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
                <input type="button" class="fadeIn fourth" value="Log In">
                <input type="button" class="fadeIn fourth" value="Register" onclick="gotoMenu('get','/register','','updatableMiddleContainer');" >
            </form>

            <!-- Remind Passowrd -->
            <div class="formFooter" >
                <a  href="#">Forgot Password?</a>
            </div>

        </div>
    </div>


