<div id="cube" class="cube">
  <div class="innercube" id="registerForm">
    <form id="userregisterform" style="display:table;min-width: 500px;">

      <table>
        <tr>
          <td>
            <label for="name">user name</label><br />
            <input style="width:100%;height:40px;" type="text" id="registername" placeholder="user name" value="" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">email</label><br />
            <input style="width:100%;height:40px;" type="text" id="registeremail" placeholder="email" value="" />
          </td>
        </tr>


        <tr>
          <td>
            <label for="password">password</label><br />
            <input style="width:100%;height:40px;" type="text" id="registerpassword" placeholder="password" value="" />
          </td>



        </tr>
        <tr>
          <td>
            <label for="repassword">retype password</label><br />
            <input style="width:100%;height:40px;" type="text" id="registerrepassword" placeholder="reenter password"
              value="" />
          </td>
        </tr>
        <tr>
          <td>
            <input onchange=" document.getElementById('filenameinput').innerHTML=this.files[0].name;" type="file"
              id="registeruserimage" name="registeruserimage" />

          </td>
        </tr>

        <tr>
          <td>
            <input type="checkbox" value="" id="registeragree" />
            <label for="registeragree">
              Agree to terms and conditions
            </label>
          </td>
        </tr>

        <tr>
          <td>
            <button class="btn btn-primary" type="button" onclick="userregister();">
              register
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>