 <div id="cube" class="cube">
  <div class="innercube">
    <div class="card" style="width: 15rem; height:18rem;float:left"">
      <div class=" card-body" style="background-color:gray;">
        <h5 class="card-title"></h5>
        <img src="./images/userimages/person.png" width="50px" height="150" class="card-img-top" alt="...">
        <p class="card-text" style="color:black"></p>
        <i id="modalLogo" class="material-icons" style="font-size:25px;color:#1f5435;">account_circle</i>
        <span style="color:black;"></span>
      </div>
    </div>
    <div style="width:60% ;float:right;color:black;">
      <div class="card w-80 " style="height:300px;">
        <div class="card-body">
          <h5 class="card-title">Personal info</h5>

          <% if ( (typeof authanticate !== 'undefined') && authanticate == "true" ) { %>
            <p class="card-text">Username : <%= authuser.username %></p>
            <p class="card-text">Email : <%= authuser.useremail %></p>
            <%if (authuser.usertype == 0) {%>
              <p class="card-text" >
                Regular User
              </p>
              <% } else { %> Admin <% } %></p>

            <p class="card-text">Privilege Level : 

            <p class="card-text">Last login : 04/05/2019 ===== Need to add date/timestamp of login logout</p>
            <a href="#" class="btn btn-primary btn-sm">edit info</a>
          <%}%>
        </div>
      </div>
        <br>
        <div class="card w-80">
          <div class="card-body">
            <h5 class="card-title">Game info</h5>
            <p class="card-text">game played : 1000</p>
            <p class="card-text">total win :100</p>
            <p class="card-text">total coins : 5000 </p>
            <p class="card-text">last login : 04/05/2019</p>
          </div>
        </div>
    </div>  
  </div>
</div>