<div id="cube" class="cube">
    <div class="innercube" id="innercube">
        <!-- <section class="wrapper">
            <div class="ball">
            </div>
        </section> -->
        <div id="tableContainer">
            <img src="images/table/table31.png" class="img-fluid gametable" alt="failed to load background">
            <img id="Card_Back" class="img-fluid card" src="images/deck1/Card_Back.jpg" alt="failed" onclick="play()" style="max-width: 64px;">
        </div>
    </div>
</div>