 <div id="cube" class="cube">

    <div class = "innercube"  id="innercube">

    <div class="gameboard">
        <h1>Cards.js - Example</h1>
        <%# <img class="preload" src="images/cards.png"/> %>
        <%# <img class="preload" src="images/cards.png"/> %>

        <%# <div id="card-table"> %>
        <div id="card-table" style="background-color: green; width:600px; height:600px;"></div>
        <button onclick="deckEx1();">Draw New Deck in Center</button>
        <button onclick="deckEx2();">Deal the hands</button>
        <button onclick="deckEx3();">Add another card to middle (now 4)</button>
        <button onclick="deckEx4();">Add another card to middle (now 5)</button>
        <button onclick="deckEx5();">Flip everyones cards</button>
        <button onclick="deckEx6();">Reshuffle all of the cards</button>
        <%# <button onclick="initDeck()">Init Deck</button> %>
    </div>
    <!-- load this at the bottom so the #card-table element exists -->





            <h1>At the Start of the game</h1>
            <p>When starting the game each player will be dealt 2 cards face down, these are called your "hole cards"<p>
        <p>After taking a look at these 2 cards, players then proceed to a round of betting in which they Check,Raise,or Fold<p>
        <p>When all betting has finished ,three shared cards are dealt face-up in the middle. This is called the flop</p>
        <img src="./images/howtoplayvisuals/TheFlop.png" width="214" height="94">
            <h1>During the game</h1>
            <p>After a round of betting a fourth shared card called "the turn" will be dealt<p>
            <img src="./images/howtoplayvisuals/TheTurn.png" width="286" height="94">

            <h1>Final Round</h1>
            <p>After another round of betting, a fifth and final shared card called "the river will be dealt<p>
            <img src="./images/howtoplayvisuals/TheRiver.png" width="359" height="94">
                <h1>Game End</h1>
                <p>After the river is revealed, we then proceed to the "showdown" in which the player with the strongest hand wins<p>
                                    <h1>Poker Hand Rankings</h1>
            <h1>1. Royal Flush</h1>
        <p>10,J,Q,K,A cards with all of the same suit</p>
        <img src="./images/scoring/RoyalFlush.png" width="180" height="94">

        <h1>2. Straight Flush</h1>
        <p>A five card straight with cards with all of the same suit</p>
        <img src="./images/scoring/StraightFlush.png" width="180" height="94">

        <h1>3. Four of a kind</h1>
        <p>Four cards of equal value or number.Ex.Four Jacks</p>
        <img src="./images/scoring/FourOfaKind.png" width="180" height="94">

        <h1>4. Full House</h1>
        <p>A full house has a set of 3 cards of the same value and a pair of another value</p>
        <img src="./images/scoring/FullHouse.png" width="180" height="94">

        <h1>5. Flush</h1>
        <p>A Flush is any 5 cards of the same suit</p>
        <img src="./images/scoring/Flush.png" width="180" height="94">

        <h1>6. Straight </h1>
        <p>Five cards in sequence that must contain either a 5 or a 10</p>
        <img src="./images/scoring/Straight.png" width="180" height="94">

        <h1>7. Three of a kind </h1>
        <p>Three cards of the same value</p>
        <img src="./images/scoring/ThreeOfaKind.png" width="180" height="94">

        <h1>8. Two Pairs </h1>
        <p>Two cards of one value and two cards of another value </p>
        <img src="./images/scoring/TwoPair.png" width="180" height="94">

        <h1>9. Pair </h1>
        <p>Two cards of the same value </p>
        <img src="./images/scoring/Pair.png" width="180" height="94">

        <h1>10. Highest Card </h1>
        <p>The hand with the highest card wins if none other of the above hands are in play</p>
        <img src="./images/scoring/HighCard.png" width="180" height="94">

        <h1> Rulings on Ties </h1>
        <p>In the case that two players have the exact same hand ranking, the ones with the higher value wins</p>
        <p>In the extreme case that two players have the same hand ranking and the same value the pot is then split.</p>
        <p>For example in this player A's hand we have Two Pair of 6s and 10s and a Queen</p>
        <img src="./images/scoring/PlayerA.png" width="180" height="94">
        <p>Next player B's hand as below contains also Two Pair of 6s and 10s and a 4</p>
        <img src="./images/scoring/PlayerB.png" width="180" height="94">
        <p>Player A would win because player A has a queen as his last card which has higher value than a 4 in Player B's hand</p>
    </div>
</div>
