 <div id="cube" class="cube">

    <div class = "innercube">
            <h1>At the Start of the game</h1>
            <p>When starting the game each player will be dealt 2 cards face down, these are called your "hole cards"<p>
        <p>After taking a look at these 2 cards, players proceed to a round of betting in which they Check,Raise,or Fold<p>
        <p>When all betting has finished ,three shared cards are dealt face-up in the middle. THis called the flop</p>
        <img src="./images/howtoplayvisuals/TheFlop.png" width="214" height="94">
            <h1>During the game</h1>
            <p>After a round of betting a fourth shared card called "the turn" will be dealt<p>
            <img src="./images/howtoplayvisuals/TheTurn.png" width="286" height="94">

            <h1>Final Round</h1>
            <p>After another round of betting, a fifth and final shared card called "the river will be dealt<p>
            <img src="./images/howtoplayvisuals/TheRiver.png" width="359" height="94">
                <h1>Game End</h1>
                <p>After the river is revealed, we then proceed to the "showdown" in which the player with the strongest hand wins<p>

    </div>
</div>
