

    <div class = "steps">
            <h1>Step 1</h1>
            <p>First Each player will be dealt 2 cards, one face up and one face down<p>
          
            <h1>Step 2</h1>
            <p>Next you there will be 3 cards flipped over by the dealer.<p>
          
            <h1>Step 3</h1>
            <p>Once the cards are revealed, players can choose to raise,fold,or call<p>
          
            <h1>Step 4</h1>
            <p>This concludes the first round and the rounds are repeated until the dealer reveals 5 cards<p>

                <h1>Step 5</h1>
                <p>After 5 cards are revealed, the player with the strongest hand wins<p>



    </div>

