
    <title>Card.Js Attempted </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="gameboard.css"/>


<body>
<h1>Cards.js - Example</h1>

<img class="preload" src="images/cards.png"/>

<div id="card-table">
    <button id="deal">DEAL</button>
</div>
<!-- load this at the bottom so the #card-table element exists -->
<script type="text/javascript" src="/js/cards.js"></script>
<script type="text/javascript" src="/js/gameboard.js"></script>
</body>
