
<div id="cube" class="cube">
    <div class="innercube"  id="innercube" style="border: thick solid #7796CB;width: 100px; float:top; height:100px; background:#7796CB; margin:10px">
        <div class="gamepanelcontainer">

           <table id="gameTable" class="table table-striped" width="800px">
                <tr>
                    <th scope="col">Game ID</th>
                    <th scope="col"># of Players</th>
                    <th scope="col">Chips Needed</th>
                    <th scope="col">Game Status</th>
                    <td scope="col">Buttons</td>
                </tr>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>3</td>
                        <td>4</td>
                        <td>open</td>
                        <td width="200px">
                            <button style="color:white;background-color:#3CB371;" type="button" onclick="" class="btn btn-secondary btn-sm">Join Game</button>
                            <button style="color:white;background-color:#3CB371;" type="button" onclick="" class="btn btn-secondary btn-sm">Watch Game</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>6</td>
                        <td>10</td>
                        <td>closed</td>
                        <td>
                            <button style="color:white;background-color:#960200;" type="button" onclick="" class="btn btn-secondary btn-sm">Join Game</button>
                            <button style="color:white;background-color:#3CB371;" type="button" onclick="" class="btn btn-secondary btn-sm">Watch Game</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="innercubeside"  id="innercubeside" style="border: thick solid black;width: 100px; float:left; height:100px; background:#26547C; margin:10px">
        <div class="profilepanelcontainer">
            <div class="container-fluid" style="color:black";>
                <!-- Start Top Row -->
                <div class="col-md-12" style="margin-top: -20px">
                    <div class="row justify-content-end">
                        <div class="col">
                            <button type="button" class="btn btn-success">
                                My Account
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-success">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 5px">
                        <div class="row">
                            <div class="col-md-12" style="color:white;">
                                <strong>User Name Here</strong>
                            </div>
                            <div class="col-md-12">
                                <img style="width:100px;height:100px;" src="https://s3.amazonaws.com/uifaces/faces/twitter/rogie/128.jpg" class="rounded">
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Top Row -->

                <!-- Start Bottom Row -->
                <div class="row" style="color:white;">
                    <div class="col-md-12">
                        <div class="row">
                            <!-- Left Hand Column -->
                            <div class="col-md-3" style="margin-left: -30px">
                                <div class="row">
                                    <!-- My Stats -->
                                    <div class="col-md-12">
                                        <dl>
                                            <h3>
                                                Info
                                            </h3>
                                            <dt>
                                                Chips:
                                            </dt>
                                            <dt>
                                                My Level:
                                            </dt>
                                            <dt>
                                                Win Rate:
                                            </dt>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <!-- Right Hand Column -->
                            <!-- Statistics -->
                            <div class="col-md-9" style="margin-left: 30px">
                                <dl>
                                    <h3>
                                        Statistics
                                    </h3>
                                    <dt>
                                        Top Players:
                                    </dt>
                                    <dt>
                                        Prizes:
                                    </dt>
                                    <dt>
                                        Total Available Tables:
                                    </dt>
                                    <dt>
                                        Total Player Online:
                                    </dt>
                                    <dt>
                                        Number of Registered Users:
                                    </dt>
                                </dl>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="innercubeside"  id="innercubeside" style="border: thick solid black;width: 100px; float:left; height:100px; background:#26547C; margin:10px">
        <div class="chatpanelcontainer">
            <div style="margin-top: -30px; margin-left: -30px"><h3>Chat</h3></div>
        </div>
    </div>
    
</div>


