<style>
    table, th, td {
        border: 3px solid black;
    }
</style>

 <div id="cube" class="cube">
    <div class = "innercube" id="innercube">
        <table style="width:100%">
            <col width="200">
            <tr>
                <th>Developer</th>
                <th>Information</th> 
                <th>Position</th>
            </tr>
            <tr>
                <td><img src="./images/userimages/person.png" style="width:100%;" class="card-img-top" alt="...">
                    Jarek Rettinghouse
                </td>
                <td>Student of SFSU</td>
                <td>
                    Team Lead
                    <br>
                    Fullstack Developer
                </td>
            </tr>
            <tr>
                <td><img src="./images/userimages/person.png" style="width:100%;" class="card-img-top" alt="...">
                    Cavit Altindag
                </td>
                <td>Student of SFSU</td>
                <td>Backend Developer</td>
            </tr>
            <tr>
                <td><img src="./images/userimages/person.png" style="width:100%;" class="card-img-top" alt="...">
                    Arnold Chhay
                </td>
                <td>Student of SFSU</td>
                <td>Backend Developer</td>
            </tr>
            <tr>
                <td><img src="./images/userimages/person.png" style="width:100%;" class="card-img-top" alt="...">
                    Ben Louie
                </td>
                <td>Student of SFSU</td>
                <td>Frontend Developer</td>
            </tr>
            <tr>
                <td><img src="./images/userimages/person.png" style="width:100%;" class="card-img-top" alt="...">
                    Wenying Chen
                </td>
                <td>Student of SFSU</td>
                <td>Frontend Developer</td>
            </tr>
            <tr>
                <td><img src="./images/userimages/person.png" style="width:100%;" class="card-img-top" alt="...">
                    Surabhi Chavan
                </td>
                <td>Student of SFSU</td>
                <td>TBD</td>
            </tr>
        </table>

    </div>
</div>
