<link rel="stylesheet" href="./css/aboutme.css">

<div id="cube" class="cube">
  <div class = "innercube" id="innercube">
    <div class="team">
      <div class="row">
        <div class="member col-lg-4 col-md-6 col-12">
          <div class="member-inner">
            <figure class="profile">
              <img class="img-fluid" img src="./images/userimages/person.png" style="width:150px; height:150px;" class="card-img-top" alt="..."/>
              <figcaption class="info">
                <span class="name">Jarek Rettinghouse</span>
                <br />
                <span class="job-title">Team Lead<br>Back-end Developer</span>

              </figcaption>
            </figure><!--//profile-->
            <div class="social">
              <ul class="social-list list-inline">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in">
                      
                    </i>
                  </a>
                </li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
              </ul><!--//social-list-->
            </div><!--//social-->
          </div><!--//member-inner-->
        </div><!--//member-->
        <div class="member col-lg-4 col-md-6 col-12">
          <div class="member-inner">
            <figure class="profile">
              <img class="img-fluid" img src="./images/userimages/person.png" style="width:150px; height:150px;" class="card-img-top" alt="..."/>
              <figcaption class="info">
                <span class="name">Cavit Altindag</span>
                <br />
                <span class="job-title">Back-end Developer</span>

              </figcaption>
            </figure><!--//profile-->
            <div class="social">
              <ul class="social-list list-inline">
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
              </ul><!--//social-list-->
            </div><!--//social-->
          </div><!--//member-inner-->
        </div><!--//member-->
        <div class="member col-lg-4 col-md-6 col-12">
          <div class="member-inner">
            <figure class="profile">
              <img class="img-fluid" img src="./images/userimages/person.png" style="width:150px; height:150px;" class="card-img-top" alt="..."/>
              <figcaption class="info">
                <span class="name">Arnold Chhay</span>
                <br />
                <span class="job-title">Back-end Developer</span>

              </figcaption>
            </figure><!--//profile-->
            <div class="social">
              <ul class="social-list list-inline">
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
              </ul><!--//social-list-->
            </div><!--//social-->
          </div><!--//member-inner-->
        </div><!--//member-->
      </div>
      <div class="row">
        <div class="member col-lg-4 col-md-6 col-12">
          <div class="member-inner">
            <figure class="profile">
              <img class="img-fluid" img src="./images/userimages/person.png" style="width:150px; height:150px;" class="card-img-top" alt="..."/>
              <figcaption class="info">
                <span class="name">Wenying Chen</span>
                <br />
                <span class="job-title">Front-end Developer</span>

              </figcaption>
            </figure><!--//profile-->
            <div class="social">
              <ul class="social-list list-inline">
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
              </ul><!--//social-list-->
            </div><!--//social-->
          </div><!--//member-inner-->
        </div><!--//member-->
        <div class="member col-lg-4 col-md-6 col-12">
          <div class="member-inner">
            <figure class="profile">
              <img class="img-fluid" img src="./images/userimages/person.png" style="width:150px; height:150px;" class="card-img-top" alt="..."/>
              <figcaption class="info">
                <span class="name">Ben Louie</span>
                <br />
                <span class="job-title">Front-end Developer</span>

              </figcaption>
            </figure><!--//profile-->
            <div class="social">
              <ul class="social-list list-inline">
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
              </ul><!--//social-list-->
            </div><!--//social-->
          </div><!--//member-inner-->
        </div><!--//member-->
        <div class="member col-lg-4 col-md-6 col-12">
          <div class="member-inner">
            <figure class="profile">
              <img class="img-fluid" img src="./images/userimages/person.png" style="width:150px; height:150px;" class="card-img-top" alt="..."/>
              <figcaption class="info">
                <span class="name">Schavan</span>
                <br />
                <span class="job-title">Front-end Developer</span>

              </figcaption>
            </figure><!--//profile-->
            <div class="social">
              <ul class="social-list list-inline">
                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
              </ul><!--//social-list-->
            </div><!--//social-->
          </div><!--//member-inner-->
        </div><!--//member-->
      </div>
    </div>

  </div>
</div>

